@media only screen and (min-width: 1280px) {
  .inf1 {
    height: 370px;
    width: 580px;
    border: 2px #FFFFFF;
    border-style: solid none solid;
}

}  /* Desktop */

@media only screen and (min-width: 1024px) {

}  /* Laptop */

@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) {
  .menup5 {
    width: 0%;
    border-style: none solid solid none;
    position: absolute;
}
}  /* iPad */

@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: portrait) {
  .menup5 {
    width: 0%;
    border-style: none solid solid none;
    position: absolute;
}
}  /* iPad Portrait */

@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: landscape) {
  .menup5 {
    width: 0%;
    border-style: none solid solid none;
    position: absolute;
}

}  /* iPad Landscape */

@media only screen and (min-device-width: 1px) and (max-device-width: 600px) {
  .menup5 {
    width: 0%;
    border-style: none solid solid none;
    position: absolute;
}
  
  .line1 {
    position: relative;
    left: 10%;
    width: 80%;
    height: 546px;
    display: block;
    justify-content: space-evenly;
    margin-bottom: -106px;
}
.end {display: none;}
.end1 {display: none;}
.head3 {
  margin-left: 34px;
  margin-top: 110px;
  margin-bottom: -18px;
  color: #FFF;
  font-size: 69px;
  font-family: "NTSomic-Regular";
  text-transform: uppercase;
}
.menu > div:not(.menup6) {
  display: block;
  border: 2px #FFFFFF;
  border-style: none solid solid solid;
  display: none;
}
.menup5, .menup6 {display: none;}
.men {display: block;
transform: scale(0.3);}

}  /* iPhone */
